AnchorPane{
    -fx-background-image: url("../imgs/knightBackground.jpg");
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}


.Help {
    -fx-font-size: 26px bold;
    -fx-font-family: 'Diphylleia', serif;
    -fx-border-radius: 5;
}

.Btn_pressed {
    -fx-font-size: 26px bold;
    -fx-font-family: 'Diphylleia', serif;
    -fx-border-radius: 5;
    -fx-background-image: url("../imgs/helpBackground.jpg");
}
