#AnchorPane{
    -fx-background-image: url("../imgs/OpenBackGround.jpg");
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;

}

.desc{
    -fx-font-size: 20px bold;
    -fx-font-family: 'Diphylleia', serif;
}
.descText{
    -fx-font-size: 20px bold;
    -fx-font-family: 'Diphylleia', serif;
}
.Btn_start {
    -fx-font-size: 26px bold;
    -fx-font-family: 'Diphylleia', serif;
    -fx-background-image: url("../imgs/pexels-dana-tentis-370799.jpg");
    -fx-border-radius: 5;
}

.Btn_pressed {
    -fx-font-size: 26px bold;
    -fx-font-family: 'Diphylleia', serif;
    -fx-border-radius: 5;
    -fx-background-image: url("../imgs/helpBackground.jpg");
}

